body {
  margin:0;
  font-family: 'Inter', sans-serif;
  color:white;
}

header {
  height: 130px;
  display:flex;
  align-items:center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

header > h1 {
  font-family: 'Karla', sans-serif;
  font-weight:700;
  font-size:42px;

}

header > img {
  padding-left:41px;
  padding-right:14.20px;
  width:62.62px;
}

header > span {
  margin-left:auto;
  padding-right:74px;
}

.main-container{
  display:flex;
  flex-direction:column;
}

.form {
  padding-top:72px;
  display:flex;
  justify-content:center;
}

.form > input {
  font-family: 'Karla', sans-serif;
  font-size:24px;
  width:460px;
  height:70px;
  border-radius:10px;
  border:2px #D5D4D8 solid;
}

.form > input::placeholder {
  padding: 22px 20px;
}

.submit {
  /* display:block; */
  font-family: 'Karla', sans-serif;
  font-size:32px;
  color:white;
  margin-top:30px;
  margin-bottom:calc(47px * 2);
  width: calc(484px * 2);
  height:80px;
  border-radius:10px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}

.btn-container{
  display:flex;
  justify-content:center;
}

.first-input {
  margin-right:34px;
}

.img-container {
  margin:0 auto;
  display:flex;
  flex-direction:column;

}

.meme-pic {
  width: calc(484px * 2);
  margin-bottom:calc(55px * 2)
}

.meme {
  position: relative;
}

/* .meme--image {
  max-width: 100%;
  border-radius: 3px;
} */

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 116px;
}

.top {
  top: 0;
}